// section call out on every footer but the contact page
.call-out {

  background-color: $brand-secondary;
  color: white;
  padding: 1.5em;
  font-size: 1.5em;
  
  a {
    
    color: white;
    text-decoration: underline;
    
  }
  
}

.site-footer {
  
  background-color: $brand-grey;
  padding-top: 2em;
  // margin-top: 2em;
  
  // color: white;
  
  a {
    
    // color: white;
    
  }
  
}

.sub-footer {
  
  background-color: $brand-grey;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  
  // color: white;
  
  a {
    
    // color: white;
    
  }
  
}