.tag-list a {
  
  @extend .label;
  background-color: lighten($brand-info, 5%);
  
    
}

.tags-links {
  
  margin: 5px 0;
  
}


.category-label {
  
  position: absolute;
  top: 40px;
  left: 24px;
  background-color: white;
  padding-left: 23px;
  padding-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid;
  
}

.category-news {
  
  .page-title {
    
    text-align: center;
    
  }
  
}