.jumbotron {
  
  margin-top: -2em;

  @media screen and (min-width: $screen-sm-min){
    
    padding-top: 100px;
    
  }
  
  @media screen and (max-width: $screen-sm-min){
    
    text-align: center;
    
  }
  
  h1 {
    
    font-weight: 400;
    
  }
  
  .btn {
    
    margin-top: 1em;
    
  }
  
}

.img-marketing {
  
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  
}

